[
    {kernel, [
        {logger_level, debug}
    ]},
    {pgapp, [
        {pools, [
            {main_pool, [
                    {size, 5},
                    {max_overflow, 10}
                ],
                [
                    {host, "localhost"},
                    {database, "weight_keeper"},
                    {username, "postgres"},
                    {password, "postgres"}
                ]}
            ]}
        ]
    }
].
